body{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider{
    width: 100%;
    height: 500px;
    overflow: hidden;
}

.slides{
    width: 500%;
    height: 500px;
    display: flex;
}

.slides input{
    display: none;
}

.slide{
    width: 20%;
    transition: 1s;
}



.slide img{
    width: 100%;
    height: 500px;
}

.navigation-manual{
    position: absolute;
    width: 100%;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 2px solid #FB5151;
    padding: 5px;
    cursor: pointer;
    border-radius: 10px;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background: #FB5151;
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -20%;
}

#radio3:checked ~ .first{
    margin-left: -40%;
}

#radio4:checked ~ .first{
    margin-left: -60%;
}

.navigation-auto{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 460px;
}

.navigation-auto div{
    border: 2px solid #FB5151;
    padding: 5px;
    cursor: pointer;
    border-radius: 10px;
    transition: 1s;
}

.navigation-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background: #FB5151;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
    background: #FB5151;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
    background: #FB5151;
}

#radio4:checked ~ .navigation-auto .auto-btn4{
    background: #FB5151;
}
.section1
{
width:100%;
height:500px;
background:url(1.jpeg);
background-size:cover;
}
.section1 .leftbox
{
width:50%;
height:100%;
float:left;
padding:50px;
box-sizing:border-box;
}

.section1 .leftbox .content
{
color:#ffff;
background:rgb(72,72,72);
padding:40px;
transition:.5s;
}


.section1 .leftbox .content .dynamic-txts li
{
color:#fff;
list-style:none;
font-size:20px;
font-weight:500;

}

.section1 .leftbox .content .dynamic-txts li span
{
position:relative;
}
.section1 .leftbox .content .dynamic-txts li span::after
{
content:"";
position:absolute;
left:0;
height:100%;
width:100%;
background:rgb(72,72,72);
//border-left:2px solid #fff;
animation: typing 1.5s steps(10) infinite;
}

@keyframes typing
{
100%{
left:100%;
margin: 0 -35px 0 35px;
}
}

.section2
{
width:100%;
height:500px;
background:url(2.jpeg);
background-size:cover;
}
.section2 .leftbox
{
width:50%;
height:100%;
float:left;
padding:50px;
box-sizing:border-box;
}

.section2 .leftbox .content
{
color:#ffff;
background:rgb(72,72,72);
padding:40px;
transition:.5s;
}


.section2 .leftbox .content .dynamic-txts li
{
color:#fff;
list-style:none;
font-size:20px;
font-weight:500;

}

.section2 .leftbox .content .dynamic-txts li span
{
position:relative;
}
.section2 .leftbox .content .dynamic-txts li span::after
{
content:"";
position:absolute;
left:0;
height:100%;
width:100%;
background:rgb(72,72,72);
//border-left:2px solid #fff;
animation: typing 2.0s steps(25) infinite;
}

@keyframes typing
{
100%{
left:100%;
margin: 0 -20px 0 20px;
}
}

.section3
{
width:100%;
height:500px;
background:url(3.jpeg);
background-size:cover;
}
.section3 .leftbox
{
width:50%;
height:100%;
float:left;
padding:30px;
box-sizing:border-box;
}

.section3 .leftbox .content
{
color:#ffff;
background:rgb(72,72,72);
padding:40px;
transition:.5s;
}


.section3 .leftbox .content .dynamic-txts li
{
color:#fff;
list-style:none;
font-size:20px;
font-weight:500;

}

.section3 .leftbox .content .dynamic-txts li span
{
position:relative;
}
.section3 .leftbox .content .dynamic-txts li span::after
{
content:"";
position:absolute;
left:0;
height:100%;
width:100%;
background:rgb(72,72,72);
border-left:2px solid #fff;
animation: typing 1.5s steps(30) infinite;
}

@keyframes typing
{
100%{
left:100%;
margin: 0 -35px 0 35px;
}
}


.section4
{
width:100%;
height:500px;
background:url(4.jpeg);
background-size:cover;
}
.section4 .leftbox
{
width:50%;
height:100%;
float:left;
padding:30px;
box-sizing:border-box;
}

.section4 .leftbox .content
{
color:#ffff;
background:rgb(72,72,72);;
padding:40px;
transition:.5s;
}


.section4 .leftbox .content .dynamic-txts li
{
color:#fff;
list-style:none;
font-size:20px;
font-weight:500;

}

.section4 .leftbox .content .dynamic-txts li span
{
position:relative;
}
.section4 .leftbox .content .dynamic-txts li span::after
{
content:"";
position:absolute;
left:0;
height:100%;
width:100%;
background:rgb(72,72,72);
border-left:2px solid #fff;
animation: typing 1.5s steps(30) infinite;
}

@keyframes typing
{
100%{
left:100%;
margin: 0 -35px 0 35px;
}
}

